<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="{{baseUrl}}/atlassian-connect/all.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui.css" media="all">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui-ie.css" media="all"><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2-m6/css/aui-ie9.css" media="all"><![endif]-->
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>
    <script src="/js/jquery-1.7.min.js" type="text/javascript"></script>
</head>
<body>
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>Choose a sport</h1>
            </div>
        </div>
    </header>

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <table class="aui aui-table-interactive">
                {{#each sports}}
                    <tr class='sport' data-sport='{{id}}'>
                        <td class='sport-icon'><img src='{{localBaseUrl}}/{{icon}}' height='32' width='32'></td>
                        <td>{{name}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    function getQueryParam(name) {
        return decodeURI(
                (RegExp('(&|\\?)' + name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[2]
        );
    }

    // set select value based on current macro param value
    var sport = getQueryParam("sport");
    $("table.aui tr.sport[data-sport=" + sport + "]").addClass('active');

    // save out newly selected macro param value on submit
    AP.require(["confluence", "dialog"], function (confluence, dialog) {

        function onSubmit() {
            var sport = $("table.aui .sport.active").data('sport'),
                    macroParams = {
                        sport: sport
                    };
            confluence.saveMacro(macroParams);
            confluence.closeMacroEditor();
            return true;
        }

        $("tr.sport").click(function () {
            $("table.aui .active").removeClass("active");
            $(this).closest("tr.sport").addClass('active');
            onSubmit();
        });

        dialog.getButton("submit").bind(onSubmit);
    });
</script>
</body>
</html>
